<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="new.css">
      </head>
<body>

<form action="index.html" >

    <h1>بَــــــيْـــــنَــــكُـــــم </h1>
    <h2>Sign in </h2>
    
<br>

<h3>Email</h3>
<input type="email" name="email" placeholder="Enter your Email" required> 
<h3>Password</h3>
<input type="password" name="pass" placeholder="Enter your Password" required>

<br>
<br>

<input type="submit" value="Log in" >





</form>
</body>
</html>